/* You can add global styles to this file, and also import other style files */

body {
    background-color: #a7a7c5;
    opacity: 1;
    background-image: radial-gradient(#444cf7 1.55px, #a7a7c5 1.55px);
    background-size: 31px 31px;
}